.mobile{
   position: relative;
   width: 480px;
   height: 800px;
   margin: auto;
   background: url(https://cdn.pixabay.com/photo/2017/02/08/20/22/wave-2049985__340.jpg);
   background-size: 100%;
   background-color: rgb(21, 99, 39);
   border-radius: 11px;
   border: 2px solid #0e0d0d;
}
.buttom-section{
   position: absolute;
   height:60px ;
   width: 100%;
   background-color: #ffffff;
   bottom: 0%;
   border-bottom-left-radius: 11px;
   border-bottom-right-radius: 11px;
   opacity: .6;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
button{
   width: 40px;
   height: 40px;
   border: none;
}
.home{
   background: url(https://www.freepnglogos.com/uploads/logo-home-png/chimney-home-icon-transparent-1.png) no-repeat;
   background-size: 100%;
}
.galary{
   background: url(https://png.pngtree.com/png-clipart/20190614/original/pngtree-gallery-vector-icon-png-image_3791336.jpg) no-repeat;
   background-size: 100%;
}
.contact{
   background: url(https://www.freeiconspng.com/thumbs/contact-icon-png/contact-phone-icon-4.png) no-repeat;
   background-size: 100%;
}
.uppersec{
   position: absolute;
   width: 100%;
   height: 30px;
   background-color: #000000;
   border-top-left-radius: 11px;
   border-top-right-radius: 11px;
   color:#fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* padding: .2rem; */
}
.timenav{
   padding-left: .5rem;
}
.batterybox{
   padding-right: .5rem;

}
.googlesearch{
   position: absolute;
   top:25%;
   left: 20%;
   width:300px;
   height: 35px;
   background-color: #ffffff;
   border-radius: 11px;
   justify-content: space-between;
   color: #7a7575;
}
.googlesearch img{
   width: 20px;
   height: 20px;
}
.left{
   padding-left: .5rem;
}
.right{
   padding-right: .5rem;
}
.date{
   position: absolute;
   top:35%;
   left: 25%;
   font-size: 1.5rem;
   font-weight: 700;
   font-family: cursive;
   color: #ffffff;
}
.maintime{
   position: absolute;
   top:30%;
   left: 40%;
   font-size: 2rem;
   font-weight: 700;
   font-family: cursive;
   color: #ffffff;
}
.app{
   width: 60px;
   height: 60px;
   background-color: #000000;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}
.app img{
   width: 50px;
   height: 50px;
  
}
.apparea{
   width: 100%;
   position: absolute;
   top:75%;
   justify-content: space-around;
}
.whatsapp{
   position: absolute;
   top: 3.7%;
   width: 480px;
   height:710px;
   background: url(whatsappp/whatsapp.jpeg)no-repeat;
   background-size: 100%;
   display: none;
}
.youtub{
   position: absolute;
   top: 3.7%;
   width: 480px;
   height:710px;
   background-color: #000000;
   color: white;
    display: none;

}
.optional div{
   display:flex
}
.optional div p{
 font-size: 1.2rem;
} 
.optional div iframe{
   width: 180px;
   height: 115px;
}
.play iframe{
  width: 480px;
  height: 315px;
}
#play2,#play3{
   display: none;
}
.wikipedia{
   position: absolute;
   top: 3.7%;
   width: 480px;
   height:710px;
   background-color: #000000;
   color: white;
    display: none;
}
.wikipedia iframe{
   width: 480px;
   height:710px;
}
.facebook{
   position: absolute;
   top: 3.7%;
   width: 480px;
   height:710px;
   background: url(facebook/facebook.jpeg)no-repeat;
   background-size: 100%;
   display: none;
}
.Contact{
   position: absolute;
   top: 3.7%;
   width: 480px;
   height:710px;
   background: url(contect/im.jpeg)no-repeat;
   background-size: 100%;
   display: none;
}
.gallary{
   position: absolute;
   top: 3.7%;
   width: 480px;
   height:710px;
  background-color: #ffff;
   display: none;
}

.display img{
   width: 480px;
   height: 600px;
   /* background: url(image2.jpeg)no-repeat;
   background-size: 100%; */
}
.library img{
   width:92px;
   height: 100px; 
}
.library{
   justify-content: space-around;
}
@media only screen and (max-width: 450px) {
   .mobile{
       width: 400px;
       height: 770px;
   }
   .buttom-section{
       height:50px ;
   }
   button{
       width: 30px;
       height: 30px;
   }
   .googlesearch{
       width:250px;
       height: 30px;
      
   }
   .googlesearch img{
       width: 18px;
       height: 18px;
   }
   
   .date{
      
       font-size: 1.5rem;
       
   }
   .maintime{
      
       font-size: 2rem;
      
   }
   .app{
       width: 50px;
       height: 50px;
       
   }
   .app img{
       width: 40px;
       height: 40px;
      
   }
   
    .whatsapp{
     
       width: 400px;
       height:690px;

    }
    .youtub{
      
       width: 400px;
       height:690px;
       
   
    }
    
    .optional div p{
     font-size: 1.2rem;
    } 
    .optional div iframe{
       width: 140px;
       height: 90px;
    }
    .play iframe{
      width: 400px;
      height: 315px;
    }
    
    .wikipedia{
      
       width: 400px;
       height:690px;
      
    }
    .wikipedia iframe{
       width: 400px;
       height:690px;
    }
    .facebook{
      
       width: 400px;
       height:690px;
       
    }
    .Contact{

       width: 400px;
       height:690px;
      
    }
    .gallary{
       
       width: 400px;
       height:690px;
     
    }
   
    .display img{
       width: 400px;
       height: 590px;
      
    }
    .library img{
       width:60px;
       height: 98px; 
    }
 }
 @media only screen and (max-width: 400px) {
   .mobile{
       width: 350px;
       height: 750px;
   }
   .buttom-section{
       height:40px ;
   }
   button{
       width: 25px;
       height: 25px;
   }
   .googlesearch{
       width:230px;
       height: 30px;
      
   }
   .googlesearch img{
       width: 16px;
       height: 16px;
   }
   
   .date{
      
       font-size: 1.2rem;
       
   }
   .maintime{
      
       font-size: 1.8rem;
      
   }
   .app{
       width: 45px;
       height: 45px;
       
   }
   .app img{
       width: 35px;
       height: 35px;
      
   }
   
    .whatsapp{
     
       width: 350px;
       height:680px;

    }
    .youtub{
      
       width: 350px;
       height:680px;
       
   
    }
    
    .optional div p{
     font-size: 1rem;
    } 
    .optional div iframe{
       width: 120px;
       height: 80px;
    }
    .play iframe{
      width: 350px;
      height: 315px;
    }
    
    .wikipedia{
      
       width: 350px;
       height:680px;
      
    }
    .wikipedia iframe{
       width: 350px;
       height:680px;
    }
    .facebook{
      
       width: 350px;
       height:680px;
       
    }
    .Contact{

       width: 350px;
       height:680px;
      
    }
    .gallary{
       
       width: 350px;
       height:680px;
     
    }
   
    .display img{
       width: 350px;
       height: 580px;
      
    }
    .library img{
       width:60px;
       height: 98px; 
    }
 }
 @media only screen and (max-width: 360px) {
   .mobile{
       width: 300px;
       height: 730px;
   }
   .buttom-section{
       height:40px ;
   }
   button{
       width: 20px;
       height: 20px;
   }
   .googlesearch{
       width:210px;
       height: 30px;
      
   }
   .googlesearch img{
       width: 16px;
       height: 16px;
   }
   
   .date{
      
       font-size: 1.1rem;
       
   }
   .maintime{
      
       font-size: 1.6rem;
      
   }
   .app{
       width: 40px;
       height: 40px;
       
   }
   .app img{
       width: 30px;
       height: 30px;
      
   }
   
    .whatsapp{
     
       width: 300px;
       height:660px;

    }
    .youtub{
      
       width: 300px;
       height:660px;
       
   
    }
    
    .optional div p{
     font-size: 1rem;
    } 
    .optional div iframe{
       width: 120px;
       height: 80px;
    }
    .play iframe{
      width: 350px;
      height: 315px;
    }
    
    .wikipedia{
      
       width: 300px;
       height:660px;
      
    }
    .wikipedia iframe{
       width: 300px;
       height:660px;
    }
    .facebook{
      
       width: 300px;
       height:660px;
       
    }
    .Contact{

       width: 300px;
       height:660px;
      
    }
    .gallary{
       
       width: 300px;
       height:660px;
     
    }
   
    .display img{
       width: 300px;
       height: 550px;
      
    }
    .library img{
       width:50px;
       height: 90px; 
    }
 }
 @media only screen and (max-width: 300px) {
   .mobile{
       width: 250px;
       height: 700px;
   }
   .buttom-section{
       height:40px ;
   }
   button{
       width: 20px;
       height: 20px;
   }
   .googlesearch{
       width:200px;
       height: 30px;
      
   }
   .googlesearch img{
       width: 16px;
       height: 16px;
   }
   
   .date{
      
       font-size: 1.1rem;
       
   }
   .maintime{
      
       font-size: 1.6rem;
      
   }
   .app{
       width: 35px;
       height: 35px;
       
   }
   .app img{
       width: 25px;
       height: 25px;
      
   }
   
    .whatsapp{
     
       width: 250px;
       height:630px;

    }
    .youtub{
      
       width: 250px;
       height:630px;
       
   
    }
    
    .optional div p{
     font-size: 1rem;
    } 
    .optional div iframe{
       width: 110px;
       height: 90px;
    }
    .play iframe{
      width: 250px;
      height: 215px;
    }
    
    .wikipedia{
      
       width: 250px;
       height:630px;
      
    }
    .wikipedia iframe{
       width: 250px;
       height:630px;
    }
    .facebook{
      
       width: 250px;
       height:630px;
       
    }
    .Contact{

       width: 250px;
       height:630px;
      
    }
    .gallary{
       
       width: 250px;
       height:630px;
     
    }
   
    .display img{
       width: 250px;
       height: 520px;
      
    }
    .library img{
       width:40px;
       height: 80px; 
    }
 }